@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: radial-gradient(circle, rgba(52,152,219,1) 0%, rgba(46,204,113,1) 100%);
  margin: 0;
  opacity: 50;
  position: relative;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}

#container {
  background-color: transparent;
  padding: 90px;
  border-radius: 8px;
  text-align: center;
  max-width: 1000px;
  width: 140%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ... Restante do CSS ... */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  text-align: center;
  animation: fadeInUp 1s ease;
}

img {
  background-color: transparent;
  width: 20%;
  padding: 5px;
  justify-content: center;
  border-radius: 50px;
  height: 25%;
  filter: brightness(150%) contrast(200%) drop-shadow(0 0 10px rgba(19, 197, 241, 0.8));
  animation: neonGlow 3s infinite alternate;
}

/* ... Restante do CSS ... */
